*{
	margin: 0;
}

body{
    background: linear-gradient(135deg, #c01414 15%, transparent 25%) -50px 0,
            linear-gradient(225deg, #000000 15%, transparent 25%) -50px 0,
            linear-gradient(315deg, #e1e1e1 25%, transparent 25%),
            linear-gradient(45deg, #e1e1e1 25%, transparent 25%);
	width: 100%;
	background-position: center;
	background-size: cover;
	height: 100vh;
	overflow: 0;
}

header h1{
    text-align: center;
}

h3{
    font-family: cursive;
}

section p{
    font-family: fantasy;
    font-size: 12pt;
    text-justify: auto;

}

footer{
    font-size: 10px;
    text-align: center;
}
